* {padding: 0; margin: 0px} /*Full Screen*/
body {
  background-image: url("laptop.png"); /*Image from root of the folder*/
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  }
#polygon1:hover {
  fill:white; /*On hover background of polygon is white*/
  }
.carousel {
  position:absolute;
  left: 50%;     /*--Experiment with %-es, left side needs centering*/
  margin-left: -370px;
  /*left:56px;    /*Carousel position (NEEDS MORE MEDIA QUERIES)*/
  top:10px;     /*Carousel position (NEEDS MORE MEDIA QUERIES)*/
  width:740px;  /*Carousel dimensions (NEEDS MORE MEDIA QUERIES)*/
  height:470px; /*Carousel dimensions (NEEDS MORE MEDIA QUERIES)*/

  }
#menutext {
  transform: rotate(-45deg); /*Text on polygon is rotated to 45 degrees (NEEDS TO BE DONE FOR OTHER BROWSERS)*/
  }







/*--------------------------------------------------------------------------------------------------------------------------*/
/*Media queries*/
@media (max-width:850px){
  /*Carousel disappears on low width screens*/
  .carouselmedia{
    display:none !important
    }
  }
